<!DOCTYPE html>
<html>
  <head>
    <title>Flask Vue Example</title>
    <script src="https://unpkg.com/dayjs/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/customParseFormat.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/weekday.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/localeData.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/weekOfYear.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/weekYear.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/advancedFormat.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/quarterOfYear.js"></script>
    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
    <script src="https://unpkg.com/ant-design-vue@4.0.3/dist/antd.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <!-- <script src="https://unpkg.com/browse/echarts@4.2.1j/dist/echarts.js"></script> -->
    <link rel="stylesheet" href="https://unpkg.com/ant-design-vue@4.0.3/dist/reset.css" />
    <style>
      .base-info {
        line-height: 26px;
        font-size: 16px;
      }
      .btn-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .btn-item {
        width: 250px;
        height: 50px;
        margin-top: 20px;
      }
      #chart-containe-body {
        width: 500px;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div id="chart-containe-body">123</div>
    </div>

    <script>
      const app = Vue.createApp({
        delimiters: ["[[", "]]"],
        data: () => ({
          text: "123",
          openState: {
            drawer: true,
            creditRecord: false,
            financialState: false,
            loanRecord: false,
            industryState: false,
          },
          enterpriseData: {
            Corp_Rgst_Cap: "56695",
            Employees_Num: "8571",
            Rgst_years: "18",
            Shareholders_Num: "64263",
            Warning: "暂无风险",
            category: 0,
            name: "深圳市卓翼科技股份有限公司",
          },
          creditValue: ["AAA-", "sAAA", "AAA", "sAAA-", "AA+"],
          loanValue: {
            month: 25,
            year: 412,
            all: 1192,
          },
          //   ROE - ROE %
          //   毛利率（Gross Profit Margin）- GM %
          //   总营收（Total Revenue）- TR 万元
          //   总利润（Total Profit）- TP 万元
          //   总资产（Total Assets）- TA 万元
          //   总负债（Total Liabilities）- TL 万元
          financialValue: {
            ROE: {
              "2022Q4": -12.31,
              "2023Q1": 10.83,
              "2023Q2": 18.68,
              "2023Q3": 22.17,
              "2023Q4": 17.42,
            },
            GM: {
              "2022Q4": 23.71,
              "2023Q1": 46.22,
              "2023Q2": 42.66,
              "2023Q3": 38.05,
              "2023Q4": 31.61,
            },
            TR: {
              "2022Q4": 21.12,
              "2023Q1": 9.14,
              "2023Q2": 18.53,
              "2023Q3": 26.58,
              "2023Q4": 32.25,
            },
            TP: {
              "2022Q4": -3.88,
              "2023Q1": 3.29,
              "2023Q2": 5.28,
              "2023Q3": 6.98,
              "2023Q4": 5.23,
            },
            TA: {
              "2022Q4": 59.34,
              "2023Q1": 59.78,
              "2023Q2": 59.96,
              "2023Q3": 57.82,
              "2023Q4": 66.75,
            },
            TL: {
              "2022Q4": 30.82,
              "2023Q1": 27.99,
              "2023Q2": 25.63,
              "2023Q3": 22.33,
              "2023Q4": 20.37,
            },
          },
        }),
        // mounted() {
        //   console.log(123);
        //   const chartContainer = document.getElementById("chart-containe-body");
        //   console.log(chartContainer);
        //   console.log(echarts);
        //   var myChart = echarts.init(chartContainer);
        //   console.log(myChart);
        //   var option;

        //   option = {
        //     xAxis: {
        //       type: "category",
        //       data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
        //     },
        //     yAxis: {
        //       type: "value",
        //     },
        //     series: [
        //       {
        //         data: [150, 230, 224, 218, 135, 147, 260],
        //         type: "line",
        //       },
        //     ],
        //   };

        //   option && myChart.setOption(option);
        //   myChart.resize();
        // },
        methods: {
          showDrawer() {
            this.openState.drawer = true;
          },
          openModal(modalName) {
            this.openState[modalName] = true;
            if (modalName == "financialState") {
              const RoeData = this.financialValue.ROE;
              setTimeout(() => {
                const chartContainer = document.getElementById("chart-container");
                console.log(chartContainer);
                const chart = echarts.init(chartContainer);
                // const options = {
                //   title: {
                //     text: "ROE(%)",
                //   },
                //   legend: {
                //     data: ["ROE(%)"],
                //   },
                //   xAxis: {
                //     type: "category",
                //     data: Object.keys(RoeData),
                //   },
                //   yAxis: {
                //     type: "value",
                //   },
                //   series: [
                //     {
                //       name: "ROE(%)",
                //       type: "line",
                //       data: Object.values(RoeData),
                //     },
                //   ],
                // };
                const options = {
                  xAxis: {
                    type: "category",
                    data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                  },
                  yAxis: {
                    type: "value",
                  },
                  series: [
                    {
                      data: [150, 230, 224, 218, 135, 147, 260],
                      type: "line",
                    },
                  ],
                };

                // 使用配置项和数据绘制图表
                chart.setOption(options);
              }, 500);
            }
          },
          closeModal(modalName) {
            this.openState[modalName] = false;
          },
          getRandomValueFromCreditArray() {
            var randomIndex = Math.floor(Math.random() * this.creditValue.length);

            return this.creditValue[randomIndex];
          },
        },
      });
      Object.values(antd).forEach((o) => {
        if (typeof o == "object" && o.name) {
          app.component(o.name, o);
        }
      });
      app.mount("#app");

      console.log(123);
      var chartContainer = document.getElementById("chart-containe-body");
      console.log(chartContainer);
      console.log(echarts);
      var myChart = echarts.init(chartContainer);
      console.log(myChart);
      var option;

      option = {
        xAxis: {
          type: "category",
          data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
        },
        yAxis: {
          type: "value",
        },
        series: [
          {
            data: [150, 230, 224, 218, 135, 147, 260],
            type: "line",
          },
        ],
      };

      option && myChart.setOption(option);
      myChart.resize();
    </script>
  </body>
</html>
