<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>基于图神经网络的小微企业信贷风险预测模型</title>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="shortcut icon" href="../static/images/logo.jpg" />
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="../static/css/nifty.min.css" rel="stylesheet" />

    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet" />

    <!--Demo [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet" />
    <link href="../static/css/nifty-demo.min.css" rel="stylesheet" />
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/ant-design-vue@4.0.3/dist/reset.css" />

    <script src="https://unpkg.com/dayjs/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/customParseFormat.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/weekday.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/localeData.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/weekOfYear.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/weekYear.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/advancedFormat.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/quarterOfYear.js"></script>
    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
    <script src="https://unpkg.com/ant-design-vue@4.0.3/dist/antd.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="../static/css/pace.min.css" rel="stylesheet" />

    <script src="../static/js/pace.min.js"></script>

    <!--jQuery [ REQUIRED ]-->
    <script src="../static/js/jquery-2.2.4.min.js"></script>

    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="../static/js/bootstrap.min.js"></script>

    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="../static/js/nifty.min.js"></script>
    <script src="../static/js/icons.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <!-- <script src="../static/js/tags.js"></script> -->

    <script src="../static/js/nifty-demo.min.js"></script>
    <style type="text/css">
      #tagsList {
        position: relative;
        width: 400px;
        height: 300px;
      }
      #tagsList a {
        /* position: absolute; */
        /* top: 0px; */
        /* left: 0px; */
        font-family: Microsoft YaHei;
        color: gray;
        display: block;
        font-weight: bold;
        text-decoration: none;
        margin-top: 5px;
        font-size: 14px;
        /* padding: 3px 6px; */
      }
      #tagsList a:hover {
        color: #249e92;
        letter-spacing: 2px;
      }
      #search:focus {
        border: 1px solid #249e92;
      }
      .base-info {
        line-height: 26px;
        font-size: 16px;
      }
      .btn-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .btn-item {
        width: 250px;
        height: 50px;
        margin-top: 20px;
      }
      #chart-container {
        width: 600px;
        height: 400px;
      }
    </style>
  </head>

  <body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">
      <div id="app">
        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
          <div id="navbar-container" class="boxed">
            <!--Brand logo & name-->
            <!--================================-->
            <!-- <div class="navbar-header">
              <a href="{{ url_for('index') }}" class="navbar-brand">
                <img src="../static/images/logo.jpg" alt="Nifty Logo" class="brand-icon" />
                <div class="brand-title">
                  <span class="brand-text">大数据我冲冲冲</span>
                </div>
              </a>
            </div> -->
            <!--================================-->
            <!--End brand logo & name-->

            <!--Navbar Dropdown-->
            <!--================================-->
            <div class="navbar-content clearfix">
              <ul class="nav navbar-top-links pull-left">
                <!--Navigation toogle button-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <li class="tgl-menu-btn">
                  <a class="mainnav-toggle" href="#">
                    <i class="demo-pli-view-list"></i>
                  </a>
                </li>
              </ul>
              <ul class="nav navbar-top-links pull-left">
                <h4 style="line-height: 32px; margin-top: 5px">基于图神经网络的小微企业信贷风险预测模型</h4>
              </ul>
            </div>
            <!--================================-->
            <!--End Navbar Dropdown-->
          </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">
          <!--CONTENT CONTAINER-->
          <!--===================================================-->
          <div id="content-container">
            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">
              <h4 class="text-main pad-btm bord-btm">企业关系可视化</h4>

              <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                  <div class="input-group">
                    <a-input-search style="width: 350px" v-model:value="searchValue" size="large" @search="onSearchEnterprise" enter-button id="search" placeholder="请输入你要检索的企业名称...">
                    </a-input-search>
                    <!-- <span onclick="search()">搜索</span> -->
                  </div>
                </div>
              </div>
              <div class="row" style="height: 40px"></div>
              <div class="row">
                <div class="col-lg-8" style="height: 480px" id="guanxi" ref="guanxi"></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                  <h2>关注的企业</h2>
                  <!-- <a-button type="primary" @click="showDrawer" style="margin: 30px 30px">Open</a-button> -->

                  <div id="tagsList">
                    <!-- <a href="#" data="红塔证券股份有限公司">红塔证券股份有限公司</a> -->
                    <!-- <a href="#" data="四川科伦药业股份有限公司">四川科伦药业股份有限公司</a> -->
                    <!-- <a href="#" data="深圳中恒华发股份有限公司">深圳中恒华发股份有限公司</a> -->
                    <a href="#" data="中国海诚工程科技股份有限公司" @click="tagClick">中国海诚工程科技股份有限公司</a>
                    <!-- <a href="#" data="中国海诚工程科技股份有限公司">中国海诚工程科技股份有限公司</a> -->
                    <!-- <a href="#" data="中国国际海运集装箱(集团)股份有限公司">中国国际海运集装箱(集团)股份有限公司</a> -->
                    <!-- <a href="#" data="广州发展集团股份有限公司">广州发展集团股份有限公司</a> -->
                    <!-- <a href="#" data="浙江华媒控股股份有限公司">浙江华媒控股股份有限公司</a> -->
                    <!-- <a href="#" data="广东省高速公路发展股份有限公司">广东省高速公路发展股份有限公司</a> -->
                    <!-- <a href="#" data="中国有色金属建设股份有限公司">中国有色金属建设股份有限公司</a> -->
                    <a href="#" data="上海电力股份有限公司" @click="tagClick">上海电力股份有限公司</a>
                    <!-- <a href="#" data="上海电力股份有限公司">上海电力股份有限公司</a> -->
                    <!-- <a href="#" data="湖北宜化化工股份有限公司">湖北宜化化工股份有限公司</a> -->
                    <a href="#" data="浙商银行股份有限公司" @click="tagClick">浙商银行股份有限公司</a>
                    <!-- <a href="#" data="浙商银行股份有限公司">浙商银行股份有限公司</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <nav id="mainnav-container">
            <div id="mainnav">
              <div id="mainnav-menu-wrap">
                <div class="nano">
                  <div class="nano-content">
                    <ul id="mainnav-menu" class="list-group">
                      <!--Category name-->
                      <li class="list-header">企业关系可视化</li>
                      <li>
                        <a href="{{ url_for('search') }}">
                          <i class="fa fa-search" style="width: 24px"></i>
                          <span class="menu-title">
                            <strong>检索企业关系</strong>
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ url_for('get_all_relation') }}">
                          <i class="fa fa-pie-chart" style="width: 24px"></i>
                          <span class="menu-title">
                            <strong>企业关系知识图谱</strong>
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <footer id="footer">
          <p class="pad-lft">Copyright&#0169; 小微企业信贷风险预测模型研究小组 &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved</p>
        </footer>

        <button class="scroll-top btn">
          <i class="pci-chevron chevron-up"></i>
        </button>
        <a-drawer v-model:open="openState.drawer" :title="enterpriseData.name" placement="right">
          <div class="base-info">成立年数: [[enterpriseData.Rgst_years]] 年</div>
          <div class="base-info">注册资本: [[enterpriseData.Corp_Rgst_Cap]] 万元</div>
          <div class="base-info">股东人数: [[enterpriseData.Shareholders_Num]] 人</div>
          <div class="base-info">公司人数: [[enterpriseData.Rgst_years]] 人</div>
          <div class="base-info">风险预测: [[enterpriseData.Warning]]</div>
          <div class="btn-container">
            <a-button class="btn-item" @click="openModal('creditRecord')">信用记录</a-button>
            <a-button class="btn-item" @click="openModal('financialState')">财务状况</a-button>
            <a-button class="btn-item" @click="openModal('loanRecord')">贷款记录</a-button>
            <a-button class="btn-item" @click="openModal('industryInfo')">行业简讯</a-button>
          </div>
        </a-drawer>
        <a-modal v-model:open="openState.creditRecord" :footer="null" title="信用状况">
          <div style="height: 100px; padding-top: 30px">该公司信用等级为: [[getRandomValueFromCreditArray()]]</div>
        </a-modal>
        <a-modal v-model:open="openState.financialState" :footer="null" width="600px" title="财务状况" id="financialStateModal">
          <div style="height: 450px; text-align: center">
            <div id="chart-container"></div>
            <a-radio-group style="width: 400px; line-height: 30px" v-model:value="financialRatioValue" :options="financialRadioOptions" @change="financialRadioChange" />
          </div>
        </a-modal>
        <a-modal v-model:open="openState.loanRecord" :footer="null" title="贷款记录">
          <div style="height: 150px; padding-top: 25px; line-height: 30px">
            <div>近1月贷款: [[loanValue.month]] 万元</div>
            <div>近1年贷款: [[loanValue.year]] 万元</div>
            <div>总贷款: [[loanValue.all]] 万元</div>
          </div>
        </a-modal>
        <a-modal v-model:open="openState.industryInfo" width="800px" :footer="null" title="行业简讯">
          <a-table :data-source="industryInfoData" :columns="industryInfoColumns" />
        </a-modal>
      </div>
    </div>
    <script type="text/javascript">
      const industryInfoColumns = [
        {
          title: "序号",
          dataIndex: "idx",
          key: "idx",
        },
        {
          title: "行业",
          dataIndex: "行业",
          key: "行业",
        },
        {
          title: "标题",
          dataIndex: "标题",
          key: "标题",
        },
        {
          title: "摘要",
          dataIndex: "摘要",
          key: "摘要",
        },
      ];

      const app = Vue.createApp({
        delimiters: ["[[", "]]"],
        data: () => ({
          text: "123",
          openState: {
            drawer: false,
            creditRecord: false,
            financialState: false,
            loanRecord: false,
            industryInfo: false,
          },
          enterpriseData: {
            Corp_Rgst_Cap: "56695",
            Employees_Num: "8571",
            Rgst_years: "18",
            Shareholders_Num: "64263",
            Warning: "暂无风险",
            category: 0,
            name: "深圳市卓翼科技股份有限公司",
          },
          searchValue: "",
          creditValue: ["AAA-", "sAAA", "AAA", "sAAA-", "AA+"],
          loanValue: {
            month: 25,
            year: 412,
            all: 1192,
          },
          financialRatioValue: "ROE",
          financialRadioOptions: [
            { label: "ROE(%)", value: "ROE" },
            { label: "毛利率(万元)", value: "GM" },
            { label: "总营收(万元)", value: "TR" },
            { label: "总利润(万元)", value: "TP" },
            { label: "总资产(万元)", value: "TA" },
            { label: "总负债(万元)", value: "TL" },
          ],
          financialDict: {
            ROE: { name: "ROE(%)", type: "line" },
            GM: { name: "毛利率(万元)", type: "line" },
            TR: { name: "总营收(万元)", type: "bar" },
            TP: { name: "总利润(万元)", type: "bar" },
            TA: { name: "总资产(万元)", type: "bar" },
            TL: { name: "总负债(万元)", type: "bar" },
          },
          //   ROE - ROE %
          //   毛利率（Gross Profit Margin）- GM %
          //   总营收（Total Revenue）- TR 万元
          //   总利润（Total Profit）- TP 万元
          //   总资产（Total Assets）- TA 万元
          //   总负债（Total Liabilities）- TL 万元
          financialValue: {
            ROE: {
              "2022Q4": -12.31,
              "2023Q1": 10.83,
              "2023Q2": 18.68,
              "2023Q3": 22.17,
              "2023Q4": 17.42,
            },
            GM: {
              "2022Q4": 23.71,
              "2023Q1": 46.22,
              "2023Q2": 42.66,
              "2023Q3": 38.05,
              "2023Q4": 31.61,
            },
            TR: {
              "2022Q4": 21.12,
              "2023Q1": 9.14,
              "2023Q2": 18.53,
              "2023Q3": 26.58,
              "2023Q4": 32.25,
            },
            TP: {
              "2022Q4": -3.88,
              "2023Q1": 3.29,
              "2023Q2": 5.28,
              "2023Q3": 6.98,
              "2023Q4": 5.23,
            },
            TA: {
              "2022Q4": 59.34,
              "2023Q1": 59.78,
              "2023Q2": 59.96,
              "2023Q3": 57.82,
              "2023Q4": 66.75,
            },
            TL: {
              "2022Q4": 30.82,
              "2023Q1": 27.99,
              "2023Q2": 25.63,
              "2023Q3": 22.33,
              "2023Q4": 20.37,
            },
          },
          industryInfoData: [],
          industryInfoColumns,
          mychart: "",
        }),
        mounted() {
          this.myChart = echarts.init(document.getElementById("guanxi"));
          this.myChart.showLoading();
          this.myChart.hideLoading();
          window.onresize = () => {
            this.myChart.resize();
          };

          this.myChart.on("click", (params) => {
            if (params.dataType === "node") {
              var nodeName = params.data.name;
              console.log(params.data);
              this.openState.drawer = true;
              this.enterpriseData = params.data; // 在这里可以弹出自定义的弹窗，例如使用浏览器原生的 alert 函数
              console.log("Clicked on node: " + nodeName);
            }
          });
          option = {
            // backgroundColor: "white",
            title: {
              // text: ' ',
              textStyle: {
                // color: "white",
                fontWeight: "lighter",
              },
            },
            animationDurationUpdate: 1500,
            animationEasingUpdate: "quinticInOut",
            legend: {
              x: "center",
              show: true,
              data: ["无风险企业", "有风险企业"],
            },
            tooltip: {
              formatter: function (params) {
                if (params.dataType == "node") {
                  return `${params.marker} ${params.data.name}<br/> 成立年数: ${params.data.Rgst_years}年<br/>
                      注册资本: ${params.data.Corp_Rgst_Cap}万元<br/> 股东人数: ${params.data.Shareholders_Num}人<br/>
                      公司人数: ${params.data.Employees_Num}人<br/> 风险预测: ${params.data.Warning}<br/>`;
                }
              },
            },
            series: [
              {
                type: "graph",
                layout: "force",
                symbolSize: 50,
                edgeSymbol: ["circle", "arrow"],
                edgeSymbolSize: [4, 4],
                edgeLabel: {
                  normal: {
                    show: true,
                    textStyle: {
                      fontSize: 10,
                    },
                    formatter: "{c}",
                  },
                },
                force: {
                  repulsion: 2500,
                  edgeLength: [10, 100],
                },
                focusNodeAdjacency: true,
                draggable: true,
                roam: true,
                categories: [
                  {
                    name: "无风险企业",
                    // itemStyle: {
                    //     normal: {
                    //         color: "#009800",
                    //     }
                    // }
                  },
                  {
                    name: "有风险企业",
                  },
                ],
                label: {
                  normal: {
                    show: true,
                    position: "right",
                    /*textStyle: {
                              fontSize: 10
                          },*/
                  },
                },
                force: {
                  repulsion: 1000,
                },
                /*tooltip: {
                      formatter: function (node) { // 区分连线和节点，节点上额外显示其他数字
                          if (!node.value) {
                              return node.data.name;
                          } else {
                              return node.data.name + ":" + node.data.showNum;
                          }
                      },
                  },*/
                lineStyle: {
                  normal: {
                    opacity: 0.9,
                    width: 1,
                    curveness: 0.3,
                  },
                },
                // progressiveThreshold: 700,
                nodes: [],
                links: [],
              },
            ],
          };

          function search() {
            var rela = { data: [], links: [] };
            $.getJSON(
              "/search_name",
              {
                name: $("#search").val(),
              },
              (json) => {
                option.series[0].nodes = json.data.map(function (node, idx) {
                  node.id = idx;
                  return node;
                });
                option.series[0].links = json.links;
                this.myChart.setOption(option, true);
              }
            );
          }
          //   const tags = $("#tagsList a");
          //   const tags = document.querySelector("#tagsList a");
        },
        methods: {
          showDrawer() {
            this.openState.drawer = true;
          },
          async onSearchEnterprise() {
            console.log(this.searchValue);
            await this.updateEchart(this.searchValue);
          },
          async tagClick(event) {
            console.log(event);
            const name = event.target.innerText;
            await this.updateEchart(name);
          },
          async updateEchart(name) {
            const response = await axios.get("http://127.0.0.1:5000/search_name", {
              params: {
                name: name,
              },
            });

            // var myChart = echarts.init(document.getElementById("guanxi"));
            const json = response.data;
            console.log(json);
            this.$nextTick(() => {
              const newOptions = { ...option };
              newOptions.series[0].nodes = json.data.map(function (node, idx) {
                node.id = idx;
                return node;
              });

              newOptions.series[0].links = json.links;
              console.log(newOptions);
              console.log("myChart", this.myChart);
              this.myChart.clear();
              this.myChart.setOption(newOptions, true);
              // myChart.render();
            });
          },
          async openModal(modalName) {
            this.openState[modalName] = true;
            if (modalName == "financialState") {
              const RoeData = this.financialValue.ROE;
              setTimeout(() => {
                this.renderChart("ROE");
              }, 500);
            }
            if (modalName == "industryInfo") {
              const resp = await axios.get(`http://127.0.0.1:5000/getIndustryInfoList?companyName=${this.enterpriseData.name}`);
              this.industryInfoData = resp.data;
              let i = 1;
              this.industryInfoData.forEach((item) => {
                item.idx = i++;
              });
              console.log(this.industryInfoData);
            }
          },
          financialRadioChange(event) {
            console.log(event);
            console.log(event.target.value);
            const type = event.target.value;
            this.renderChart(type);
          },
          renderChart(type) {
            const chartContainer = document.getElementById("chart-container");
            var myChart = echarts.init(chartContainer);
            console.log(myChart);

            const data = this.financialValue[type];
            const legend = [this.financialDict[type].name];
            const seriesType = this.financialDict[type].type;
            console.log(seriesType);
            const options = {
              xAxis: {
                type: "category",
                data: Object.keys(data),
              },
              yAxis: {
                type: "value",
              },
              series: [
                {
                  name: "ROE(%)",
                  type: seriesType,
                  data: Object.values(data),
                },
              ],
            };
            console.log("options", options);
            myChart.setOption(options);
          },
          closeModal(modalName) {
            this.openState[modalName] = false;
          },
          getRandomValueFromCreditArray() {
            var randomIndex = Math.floor(Math.random() * this.creditValue.length);

            return this.creditValue[randomIndex];
          },
        },
      });
      Object.values(antd).forEach((o) => {
        if (typeof o == "object" && o.name) {
          app.component(o.name, o);
        }
      });
      const vm = app.mount("#app");
    </script>
  </body>
</html>
